.root:global(.__wab_instance) {
  position: relative;
  background: #185adb;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-4kg_ea4-6a5R);
  font-family: var(--token-v5lKyYYmyMGl);
  font-size: var(--token-1a5sk3_FMmWk);
  line-height: var(--token-yPvvxrBE1bXQ);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-OpkTE_XOH5Zp);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-G5zuYKqcO4g_);
  outline-offset: 1px;
  outline-color: var(--token-s4zeLcz39g7L);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-tvwYC8DBNhnA);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-ItreY4AgoG7C);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-ErTec4o5CWGb);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-5Iodnm-LlDBE);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-jqRQDldVBZCH);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-mFYts3wikbfU);
  font-size: var(--token-sT5YFjzzIRkA);
  column-gap: var(--token-G5zuYKqcO4g_);
  row-gap: 0px;
  border-radius: var(--token-fvbG8gnb_3cK);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-sT5YFjzzIRkA);
  line-height: var(--token-mFYts3wikbfU);
  column-gap: var(--token-fvbG8gnb_3cK);
  row-gap: 0px;
  border-radius: var(--token-fvbG8gnb_3cK);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-BpzqDzihgPGo);
  line-height: var(--token-TqAFHxBPVhUD);
  padding: 8px 16px;
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-BpzqDzihgPGo);
  line-height: var(--token-TqAFHxBPVhUD);
  padding: 16px 32px;
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-c9ZWdkxdXabO);
  border-radius: var(--token-OpkTE_XOH5Zp);
}
.softBackgroundcolor_neutral {
  background: var(--token-nZjiyoSlce72);
}
.softBackgroundcolor_muted {
  background: var(--token-E1vta-dTqg3C);
}
.softBackgroundcolor_success {
  background: var(--token-Vl89FO3kgY_K);
}
.softBackgroundcolor_warning {
  background: var(--token-8fJN8AK7sTfw);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-GB8c4qVq6X7W);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-OpkTE_XOH5Zp);
  border: 0px solid var(--token-So0l3HAUMEoZ);
}
.bordercolor_neutral {
  border-color: var(--token-qP4aHp5CVnlJ);
}
.bordercolor_muted {
  border-color: var(--token-Jc3kAd4B-dVG);
}
.bordercolor_success {
  border-color: var(--token-TfVZ83zcCaul);
}
.bordercolor_warning {
  border-color: var(--token-llUeNPcZSG4R);
}
.bordercolor_errorDestructive {
  border-color: var(--token-p2UCPNlKsE-q);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: #185adb;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-OpkTE_XOH5Zp);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-ZCgsPJOQG5CY);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-22TJIUFQJ0-_);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-zNdfn3D0MTZL);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__c4MCz {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-OpkTE_XOH5Zp) var(--token-bXtcO4N0uVbx);
}
.freeBox__c4MCz > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-OpkTE_XOH5Zp));
  width: calc(100% + var(--token-OpkTE_XOH5Zp));
}
.freeBox__c4MCz > :global(.__wab_flex-container) > *,
.freeBox__c4MCz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c4MCz > :global(.__wab_flex-container) > picture > img,
.freeBox__c4MCz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-OpkTE_XOH5Zp);
}
.freeBoxsize_extraSmall__c4MCz4Grkz {
  padding: var(--token-fvbG8gnb_3cK) var(--token-OpkTE_XOH5Zp);
}
.freeBoxsize_small__c4MCZlgDi5 {
  padding: var(--token-OpkTE_XOH5Zp) var(--token-4kg_ea4-6a5R);
}
.freeBoxsize_large__c4MCzVrkjN {
  padding-top: var(--token-fvbG8gnb_3cK);
  padding-bottom: var(--token-fvbG8gnb_3cK);
}
.freeBoxsize_extraLarge__c4MCz4ZzUa {
  padding-left: var(--token-PTEf5zDvu4w7);
  padding-right: var(--token-PTEf5zDvu4w7);
}
.freeBoxroundedFull__c4MCZa5K4G {
  padding-right: var(--token-PTEf5zDvu4w7);
  padding-left: var(--token-PTEf5zDvu4w7);
}
.freeBox__gDmKw {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__gDmKwbtliN {
  display: flex;
}
.slotTargetStart {
  color: var(--token-hJPrwzSafbN9);
}
.slotTargetStartcolor_neutral {
  color: var(--token-rCqdBuH7SpQR);
}
.slotTargetStartcolor_muted {
  color: var(--token-znRVGfF0hb7Z);
}
.slotTargetStartcolor_success {
  color: var(--token-Mm76PFd4Rj1I);
}
.slotTargetStartcolor_warning {
  color: var(--token-VgNiERU4zpG0);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-aMUvLum_PoT2);
}
.slotTargetStarttype_soft {
  color: var(--token-XY_j07gkhJ4e);
}
.slotTargetStarttype_bordered {
  color: var(--token-XY_j07gkhJ4e);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-sT5YFjzzIRkA);
}
.slotTargetStartsize_small {
  font-size: var(--token-sT5YFjzzIRkA);
}
.slotTargetStartsize_large {
  font-size: var(--token-BpzqDzihgPGo);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-BpzqDzihgPGo);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-RcKz2NdIKtrH);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-RcKz2NdIKtrH);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-rjBdBnZnvp5v);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-rjBdBnZnvp5v);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-y0JAMIDZKvh4);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-y0JAMIDZKvh4);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-Sag6jA6Trmqj);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-Sag6jA6Trmqj);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-miEKqXurgapu);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-miEKqXurgapu);
}
.svg__mI6U0 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-hJPrwzSafbN9);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-rCqdBuH7SpQR);
}
.slotTargetLabelcolor_muted {
  color: var(--token-znRVGfF0hb7Z);
}
.slotTargetLabelcolor_success {
  color: var(--token-Mm76PFd4Rj1I);
}
.slotTargetLabelcolor_warning {
  color: var(--token-VgNiERU4zpG0);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-aMUvLum_PoT2);
}
.slotTargetLabeltype_soft {
  color: var(--token-XY_j07gkhJ4e);
}
.slotTargetLabeltype_bordered {
  color: var(--token-XY_j07gkhJ4e);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-RcKz2NdIKtrH);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-rjBdBnZnvp5v);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-RcKz2NdIKtrH);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-y0JAMIDZKvh4);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-rjBdBnZnvp5v);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-Sag6jA6Trmqj);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-y0JAMIDZKvh4);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-miEKqXurgapu);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-Sag6jA6Trmqj);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-miEKqXurgapu);
}
.text__vNf7D {
  white-space: pre;
}
.freeBox__wFez9 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__wFez9TIbdZ {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-hJPrwzSafbN9);
}
.slotTargetEndcolor_neutral {
  color: var(--token-rCqdBuH7SpQR);
}
.slotTargetEndcolor_muted {
  color: var(--token-znRVGfF0hb7Z);
}
.slotTargetEndcolor_success {
  color: var(--token-Mm76PFd4Rj1I);
}
.slotTargetEndcolor_warning {
  color: var(--token-VgNiERU4zpG0);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-aMUvLum_PoT2);
}
.slotTargetEndtype_soft {
  color: var(--token-XY_j07gkhJ4e);
}
.slotTargetEndtype_bordered {
  color: var(--token-XY_j07gkhJ4e);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-sT5YFjzzIRkA);
}
.slotTargetEndsize_small {
  font-size: var(--token-sT5YFjzzIRkA);
}
.slotTargetEndsize_large {
  font-size: var(--token-BpzqDzihgPGo);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-BpzqDzihgPGo);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-RcKz2NdIKtrH);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-RcKz2NdIKtrH);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-rjBdBnZnvp5v);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-rjBdBnZnvp5v);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-y0JAMIDZKvh4);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-y0JAMIDZKvh4);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-Sag6jA6Trmqj);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-Sag6jA6Trmqj);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-miEKqXurgapu);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-miEKqXurgapu);
}
.svg__aZjpn {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
