.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox__dtjqs {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: var(--token-Nh3dTd2RI2HT);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox__dtjqs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dtjqs > :global(.__wab_flex-container) > *,
.freeBox__dtjqs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dtjqs > :global(.__wab_flex-container) > picture > img,
.freeBox__dtjqs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 930px) {
  .freeBox__dtjqs {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
}
@media (max-width: 930px) {
  .freeBox__dtjqs > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__dtjqs > :global(.__wab_flex-container) > *,
  .freeBox__dtjqs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dtjqs > :global(.__wab_flex-container) > picture > img,
  .freeBox__dtjqs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.logo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 50px;
  min-width: 0;
}
.freeBox__zKb5H {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  align-self: center;
}
.freeBox__zKb5H > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 26px);
  width: calc(100% + 26px);
}
.freeBox__zKb5H > :global(.__wab_flex-container) > *,
.freeBox__zKb5H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zKb5H > :global(.__wab_flex-container) > picture > img,
.freeBox__zKb5H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 26px;
}
@media (max-width: 930px) {
  .freeBox__zKb5H {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.link__vc7PC {
  font-weight: 600;
  color: #000000;
  line-height: 19.5;
  font-size: 16px;
  display: none;
}
.link__gfQr {
  font-weight: 600;
  color: #00000080;
  line-height: 19.5;
  font-size: 16px;
  display: none;
}
.link__unk {
  font-weight: 600;
  color: #00000080;
  line-height: 19.5;
  font-size: 16px;
  display: none;
}
.freeBox__myLal {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__myLal > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__myLal > :global(.__wab_flex-container) > *,
.freeBox__myLal > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__myLal > :global(.__wab_flex-container) > picture > img,
.freeBox__myLal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 930px) {
  .freeBox__myLal {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .freeBox__myLal > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__myLal > :global(.__wab_flex-container) > *,
  .freeBox__myLal > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__myLal > :global(.__wab_flex-container) > picture > img,
  .freeBox__myLal
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.link__umhbR {
  color: #00000080;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5;
  display: none;
}
@media (max-width: 930px) {
  .link__umhbR {
    line-height: var(--token-TqAFHxBPVhUD);
  }
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg {
  position: relative;
  height: 1em;
}
.text {
  white-space: pre;
  padding-right: 0px;
  font-size: 18px;
}
.svg___16Kl {
  position: relative;
  height: 1em;
}
